body {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

#overlay {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

/* Desktop - Section */

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 95px;
    width: 1440px;
    background: #FFFFFF;
    margin: 96px 20px 96px 20px;
}

/* content */

.section-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 380px;
    gap: 28px;
}

/* image */

.img {
    width: 100%;
    max-width: 505px;
    height: auto;
}

/* title */

.title {
    margin: 0;

    /* T1 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;

    /* Dark #1 */
    color: #121212;
}

/* copy */

.copy {
    margin: 0;

    /* Body Copy */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;

    /* Dark #1 */
    color: #121212;
}

/* button */

.button {
    padding: 16px 40px;
    width: 128px;
    height: 48px;
    cursor: pointer;

    /* Primary #1 */
    background: #E4C1AE;
    border-radius: 32px;
    border-style: none;

    /* Button Text */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#alert {
    display: none;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 920px;
    height: 210px;
    background: #fff;
    padding-left: 6%;
}

.alert-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

#counter {
    font-weight: 600;
}

.x-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.5vw;
    right: 2.5vw;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.x-icon:before, .x-icon:after{
    content: "";
    position: absolute;
    width: 2px;
    height: 18px;
    background: black;
    border-radius: 15px;
}

.x-icon:before {
    transform: rotate(45deg);
}

.x-icon:after {
    transform: rotate(-45deg);
}